<style type="text/css">
  .professional-info .professional-header.orange{background-color: #3A126C}
  .professional-info .professional-header.blue{background-color: #0091ca;}
  .professional-info .professional-header .header-content h4 {line-height: 32px;font-weight: 400;color: #fff;font-size: 26px;margin: 15px 0 0 0;padding: 15px 0 0 0;}
  .professional-info .professional-header .number{color: #2874f0; background-color: #f0f0f0;border-radius: 2px;padding: 3px 7px;font-size: 14px;margin: 10px;}
  .professional-info .professional-header .info-head{font-size: 16px;font-weight: 600;text-transform: uppercase;padding: 10px;}
  .professional-info .pd{padding: 5px 0 5px 0 !important;}
  .professional-info-part{border-radius: 2px;}
  .professional-info-part .professional-header{border-radius: 2px 2px 0 0;}
  .professional-header small {font-size: 15px; color: #fff;}
  /*background details */
label.md-placeholder{color: red !important;}
</style>
<section ng-controller="adminCtrl" ng-cloak>
	<div class="container-fluid">
	  <div class="row" style="background-color:#ffe536">
	    <div col-sm-12>
	    	<div style="text-align: center; padding-bottom: 20px;">
	   	    <img src="<%= asset_path("faasos-logo-purple.svg") %>" style="height: 10%;width: 10%">
	      </div>
	    </div>
	  </div>
		<div class="row" style="padding: 15px;">
			<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<div class="professional-info">
							  <div class="col-sm-12 professional-info-part" ng-init="getCustomer('week');">
							    <div class="md-whiteframe-1dp">
							      <div class="professional-header orange">
							        <div class="header-content">
							          <h4 class="pd">
							            <span class="info-head">Customer</span>
							            <span class="pull-right">
							              <small>Timeframe:</small>
							              <select ng-model="new_talent_statistics.timeframe" ng-change="getCustomer(new_talent_statistics.timeframe);" class="input-sm" style="margin: 0 10px; background: #fff; color: initial;">
							                <option value="week" selected>Week</option>
							                <option value="month">Month</option>
							                <option value="year">Year</option>
							              </select>
							            </span>
							          </h4>
							        </div>
							      </div>
							      <div class="professional-dtl">
							        <div class="row">
							          <div class="col-sm-12">
							            <canvas id="bar" class="chart chart-bar" chart-data="newTalentData" chart-labels="newTalentLabel" chart-dataset-override="datasetOverride" style="width: 100%; height: 100%;"></canvas>
							          </div>
							        </div>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="professional-info">
							  <div class="col-sm-12 professional-info-part" ng-init="getOrders('week');">
							    <div class="md-whiteframe-1dp">
							      <div class="professional-header orange">
							        <div class="header-content">
							          <h4 class="pd">
							            <span class="info-head">Order</span>
							            <span class="pull-right">
							              <small>Timeframe:</small>
							              <select ng-model="new_order_statistics.timeframe" ng-change="getOrders(new_order_statistics.timeframe);" class="input-sm" style="margin: 0 10px; background: #fff; color: initial;">
							                <option value="week">Week</option>
							                <option value="month">Month</option>
							                <option value="year">Year</option>
							              </select>
							            </span>
							          </h4>
							        </div>
							      </div>
							      <div class="professional-dtl">
							        <div class="row">
							          <div class="col-sm-12">
							            <canvas id="bar" class="chart chart-bar" chart-data="newOrderData" chart-labels="newOrderLabel" chart-dataset-override="datasetOverride" style="width: 100%; height: 100%;"></canvas>
							          </div>
							        </div>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="professional-info">
							  <div class="col-sm-12 professional-info-part" ng-init="getDeliverOrders('week');">
							    <div class="md-whiteframe-1dp">
							      <div class="professional-header orange">
							        <div class="header-content">
							          <h4 class="pd">
							            <span class="info-head">Deliver Order</span>
							            <span class="pull-right">
							              <small>Timeframe:</small>
							              <select ng-model="new_order_statistics.timeframe" ng-change="getDeliverOrders(new_order_statistics.timeframe);" class="input-sm" style="margin: 0 10px; background: #fff; color: initial;">
							                <option value="week">Week</option>
							                <option value="month">Month</option>
							                <option value="year">Year</option>
							              </select>
							            </span>
							          </h4>
							        </div>
							      </div>
							      <div class="professional-dtl">
							        <div class="row">
							          <div class="col-sm-12">
							            <canvas id="bar" class="chart chart-bar" chart-data="deliverOrderData" chart-labels="deliverOrderLabel" chart-dataset-override="datasetOverride" style="width: 100%; height: 100%;"></canvas>
							          </div>
							        </div>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="professional-info">
							  <div class="col-sm-12 professional-info-part" ng-init="getCancelOrders('week');">
							    <div class="md-whiteframe-1dp">
							      <div class="professional-header orange">
							        <div class="header-content">
							          <h4 class="pd">
							            <span class="info-head">Cancel Order</span>
							            <span class="pull-right">
							              <small>Timeframe:</small>
							              <select ng-model="cancel_order_statistics.timeframe" ng-change="getCancelOrders(cancel_order_statistics.timeframe);" class="input-sm" style="margin: 0 10px; background: #fff; color: initial;">
							                <option value="week">Week</option>
							                <option value="month">Month</option>
							                <option value="year">Year</option>
							              </select>
							            </span>
							          </h4>
							        </div>
							      </div>
							      <div class="professional-dtl">
							        <div class="row">
							          <div class="col-sm-12">
							            <canvas id="bar" class="chart chart-bar" chart-data="cancelOrderData" chart-labels="cancelOrderLabel" chart-dataset-override="datasetOverride" style="width: 100%; height: 100%;"></canvas>
							          </div>
							        </div>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="professional-info">
							  <div class="col-sm-12 professional-info-part" ng-init="getOrdersNotDeliver('week');">
							    <div class="md-whiteframe-1dp">
							      <div class="professional-header orange">
							        <div class="header-content">
							          <h4 class="pd">
							            <span class="info-head">Delay Order</span>
							            <span class="pull-right">
							              <small>Timeframe:</small>
							              <select ng-model="delay_order_statistics.timeframe" ng-change="getOrdersNotDeliver(delay_order_statistics.timeframe);" class="input-sm" style="margin: 0 10px; background: #fff; color: initial;">
							                <option value="week">Week</option>
							                <option value="month">Month</option>
							                <option value="year">Year</option>
							              </select>
							            </span>
							          </h4>
							        </div>
							      </div>
							      <div class="professional-dtl">
							        <div class="row">
							          <div class="col-sm-12">
							            <canvas id="bar" class="chart chart-bar" chart-data="delayOrderData" chart-labels="delayOrderLabel" chart-dataset-override="datasetOverride" style="width: 100%; height: 100%;"></canvas>
							          </div>
							        </div>
							      </div>
							    </div>
							  </div>
							</div>
						</div>
					</div>
			</div>
	  </div>
	</div>
</section>